# An example. Copy it to .env and edit
PYTHONENCODING=utf8
DEBUG={{ '0' if deploy_env == 'production' else '1' }}
CONFIGURATION={{ 'prod' if deploy_env == 'production' else 'dev' }}
DJANGO_LOG_LEVEL=INFO
SECRET_KEY="<secret_key>"
{% if deploy_env == 'production' %}
ALLOWED_HOSTS={{ domain_name | default('example.com') }}
{% endif %}
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=<db_password>
REDIS_URL=redis://redis:6379/0
{% if deploy_env == 'production' %}
SITE_DOMAIN={{ domain_name | default('example.com') }}
SITE_URL=https://{{ domain_name | default('example.com') }}
{% else %}
SITE_URL=http://{{ project_name }}.local:8000
{% endif %}
EMAIL_HOST={% if deploy_env != 'production' %}mailhog{% endif %}

EMAIL_PORT={% if deploy_env == 'production' %}25{% else %}1025{% endif %}

EMAIL_HOST_USER=<email_user>
EMAIL_HOST_PASSWORD=<email_password>
SENTRY_DSN=<sentry_dsn>
CELERY_FLOWER_USER=flower
CELERY_FLOWER_PASSWORD=<flower_password>
{% if deploy_env == 'production' %}
CADDY_PASSWORD=<here should be hash of a password>
{% endif %}
VITE_DEV_SERVER_HOST={% if deploy_env == 'production' %}<put real vite ip or host>{% else %}localhost{% endif %}

DJANGO_SETTINGS_MODULE=config.settings.{{ 'prod' if deploy_env == 'production' else 'dev' }}
COMPOSE_PROJECT_NAME={{ project_name }}